<div role="document" >
    <div class="modal-header">
        <h3>Nuevo Usuario</h3>
    </div>
    <%= form_for @user do |f| %>
        <div class="modal-body">
            <div class="form-group">
                <%= f.label :email, "Usuario" %>
                <%= f.text_field :email, class: "form-control", id: "field1", :required => true %>
            </div>
            <div class="form-group">
                <%= f.label :password, "Contraseña" %>
                <%= f.password_field :password, class: "form-control", id: "field2",:required => true%>
            </div>
            <div class="form-group">
                <%= f.label :password_confirmation, "Confirmar Contraseña" %>
                <%= f.password_field :password_confirmation, id: "field3",class: "form-control", :required => true%>
            </div>
            <div class="form-group">
                <%= f.label :first_name, "Primer Nombre" %>
                <%= f.text_field :first_name, class: "form-control", id: "field4",:required => true %>
            </div>
            <div class="form-group">
                <%= f.label :middle_name, "Segundo Nombre" %>
                <%= f.text_field :middle_name, id: "field5",class: "form-control" %>
            </div>
            <div class="form-group">
                <%= f.label :last_name, "Apellidos" %>
                <%= f.text_field :last_name, class: "form-control", id: "field6",:required => true %>
            </div>
            <div class="modal-footer">
                <div class="btn-group" role="group">
                  <button type="button" class="btn btn-danger" data-dismiss="modal" onClick="clear_field(['#field1', '#field2', '#field3', '#field4', '#field5','#field6'])">Cancelar</button>
                  <%= f.submit "Guardar", class: "btn btn-primary" %>
                </div>
            </div>
        </div>
    <% end %>
</div>