<h1 class="page-header">Lista de Usuarios</h1>

<%= render 'shared/new_button', string: "Nuevo Usuario" %>

<div class="table-responsive">
    <table width="100%" class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Usuario</th>
                <th>Nombre</th>
                <th>Editar</th>
            </tr>
        </thead>
        <tbody>
            <% @users.each do |u| %>
                <tr>
                    <%@count = @count + 1%>
                    <td><%=@count%></td>
                    <td><%= link_to u.email, user_path(@count)%></td>
                    <td><%= u.first_name%></td>
                    <td><%= link_to '<span class="fa fa-edit"></span>'.html_safe , edit_user_path(@count) %></td>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog">
  <%= render partial: "form", locals: {user: @user} %>
</div>

<script>
function focus_field(){
  setTimeout(function() { $('#field').focus() }, 600);
}
</script>