<h1 class="page-header">Usuarios</h1>

<%= modal_button("btn-success", "fa-plus", "Nuevo Usuario") %>

<div class="table-responsive">
    <table width="100%" class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Usuario</th>
                <th>Nombre</th>
            </tr>
        </thead>
        <tbody>
            <% @users.each do |u| %>
                <tr>
                    <!-- TODO: Why not just show ID? -->
                    <%@count = @count + 1%>
                    <td><%=@count%></td>
                    <td><%= link_to u.username, user_path(@count)%></td>
                    <td><%= u.first_name%></td>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog">
  <%= render partial: "form"%>
</div>
