<h2>Por favor llenar los siguientes campos: </h2>
<%= form_for(project) do |f| %>
<div class="form-group">
  <%= f.label :title, "Titulo" %>
  <%= f.text_field :title, class: "form-control" %>
</div>
<div class="btn-group" role="group">
  <%= f.submit "Save",class: "btn btn-default" %>
  <%= link_to "Cancel", projects_path,class: "btn btn-default" %>
</div>

<% end %>
