<div role="document">
	<div class="modal-header">
		<h3> Nuevo Proyecto </h3>
	</div>

	<div id="error_div"></div>

	<%= form_for(project, remote: true) do |f| %>
		<div class="modal-body">
			<div class="form-group">
			  <%= f.label :title, "Titulo" %>
			  <%= f.text_field :title, id: "field1", class: "form-control" %>
			</div>
			<div class="form-group">
			  <%= f.label :manager, "Responsable del proyecto" %>
			  <%= f.select :manager, ['Andres', 'Kamil', 'Juan', 'Daniela', 'Jose'], {}, class: "form-control" %>
			</div>
			<div style= "margin-bottom:10px">
			  <%= f.label :image, "Imagen" %>
			  <%= f.file_field :image%>
			</div>
		</div>

		<div class="modal-footer">
			<div class="btn-group" role="group">
			  <button type="button" class="btn btn-danger" data-dismiss="modal" onClick="clear_field(['#field1'])">Cancelar</button>
			  <%= f.submit "Guardar",class: "btn btn-primary" %>
			</div>
		</div>
	<% end %>
</div>
