<div class="row">
	<div class="col-md-10">	
	    <h1 class="page-header" id="title-wrapper">Lotes de <i><%=@project.title %></i></h1>
	    <h4>Empleado encargado: <%=@project.manager%></h4>
	    <%= button_to new_project_lot_path(@project.id), method: :get, class: "btn btn-outline btn-success btn-lg", id: "new-project-btn" do %>
			<i class="fa fa-plus" aria-hidden="true"></i>
			Nuevo Lote
		<%end%>
	</div>
	<div class="col-md-2">
		<%=link_to(image_tag(@project.get_image,:class=>"img_style")) %>
	</div>
</div>

<%=render @project.lots%>
