<div class = "wrapper">
  <div class = "first">
    <h1>Lotes de <i><%=@project.title %></i></h1>
    <h4>Empleado encargado: <%=@project.manager%></h4>
    <%= link_to "Nuevo Lote", new_project_lot_path(@project.id) %> 
  </div>
  <div class = "second">
      <%=image_tag @project.image_url,:class=>"img_style"%>
  </div>
</div>

<%=render @project.lots%>
