<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
      <a data-toggle="collapse" data-parent="#accordion" href="#<%= category.id %>" aria-expanded="false" class="collapsed">
        <%= category.name %>
      </a>
    </h4>
  </div>

  <div id="<%= category.id %>" class="panel-collapse collapse in">
    <div class="panel-body">
      <% lot = Lot.find(lot_id) %>
      <%= form_for [lot.project, lot] do |f| %>
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>Variable</th>
                <th>Cantidad de Sacos</th>
                <th>Costo Unidad De Sacos</th>
                <th>Costo M.O.</th>
                <th>Costo/HAS</th>
              </tr>
            </thead>
            <tbody>
              <%= render partial: "variables_fer", collection: category.variables, locals: {lot: lot, date: date} %>
            </tbody>
          </table>
        </div>
        <%= f.hidden_field :date, value: "", id: "hidden_date_fer" %>
        <%= f.hidden_field :category, value: "Fertilizacion" %>
        <%= f.submit 'Guardar', class: 'btn btn-default pull-right' %>
      <% end %>
    </div>
  </div>
</div>

<script>
  $('#hidden_date_fer').val($('#date').val());
</script>