<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
      <a data-toggle="collapse" data-parent="#accordion" href="#<%= category.id %>" aria-expanded="false" class="collapsed">
        <%= category.name %>
      </a>
    </h4>
  </div>

  <div id="<%= category.id %>" class="panel-collapse collapse">
    <div class="panel-body">
      <%= form_for [@lot.project, @lot] do |f| %>
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>Variable</th>
                <th>Cantidad</th>
                <th>Total</th>
                <th>Costo por unidad</th>
              </tr>
            </thead>
            <tbody>
              <%= render :partial => "variable", :collection => lot.values(category), locals: {lot: lot, f: f} %>
            </tbody>
          </table>
        </div>
        <%= f.submit 'Guardar', class: 'btn btn-default pull-right' %>
      <% end %>
    </div>
  </div>
</div>
