<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
      <a data-toggle="collapse" data-parent="#accordion" href="#<%= category.id %>" aria-expanded="false" class="collapsed">
        <%= category.name %>
      </a>
    </h4>
  </div>

  <div id="<%= category.id %>" class="panel-collapse collapse">
    <div class="panel-body">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>Variable</th>
              <th>Cantidad de Hect치reas</th>
              <th>Costo por Mano de Obra</th>
              <th>Costo por Insumo</th>
              <th>Costo por Hect치rea por Mano de Obra</th>
              <th>Costo por Hect치rea por Insumo</th>
              <th>Costo por Hect치rea</th>
              <th>Costo Total</th>
            </tr>
          </thead>
          <tbody>
            <% Variable.all.where(category_id: category).each do |v| %>
              <% @total = sum_values_date(lot, v.category, v.id) %>
              <tr>
                <td><%= v.name %></td>
                <!-- TODO: This first line is dumb, leave for now !-->
                <td><%= number_to_currency(@total.first, :unit => "", :precision => 2) %></td>
                <td><%= number_to_currency(@total.third, :unit => "Lps. ", :precision => 2) %></td>
                <td><%= number_to_currency(@total.fifth, :unit => "Lps. ", :precision => 2) %></td>
                <td><%= number_to_currency(@total.second, :unit => "Lps. ", :precision => 2) %></td>
                <td><%= number_to_currency(@total.fourth, :unit => "Lps. ", :precision => 2) %></td>
                <td><%= number_to_currency(@total[6], :unit => "Lps. ", :precision => 2) %></td>
                <td><%= number_to_currency(@total[7], :unit => "Lps. ", :precision => 2) %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
