<tr>
  <td>
    <%= link_to variable.name, project_lot_variable_history_path(lot.project.id, lot.id, variable.id) %>
  </td>
  <td>
    <%= number_field_tag "variables[#{variable.name}][amount]", lot.getValue(variable.name)[:amount], class: 'form-control' %>
  </td>
  <td>
    <%= number_field_tag "variables[#{variable.name}][cost_mano]", lot.getValue(variable.name)[:cost_mano], :step => 0.01, class: 'form-control' %>
  </td>
  <td>
    <%= number_field_tag "variables[#{variable.name}][cost_insumo]", lot.getValue(variable.name)[:cost_insumo], :step => 0.01, class: 'form-control' %>
  </td>
  <td>
    <%= number_to_currency(lot.getValue(variable.name)[:unit_cost_mano], :unit => "Lps. ", :precision => 2) %>
  </td>
  <td>
    <%= number_to_currency(lot.getValue(variable.name)[:unit_cost_insumo], :unit => "Lps. ", :precision => 2) %>
  </td>
</tr>
