<h1 class="page-header">Reporte Lote #<%= @lot.id %> </h1>

<%= return_button(project_lot_path(@lot.project, @lot)) %>

<%= form_for(:report, remote: true) do |f| %>
  <%= f.label :from, "Desde" %>
  <%= f.text_field :from, class: "datepicker", id: "from_date" %>
  <%= f.label :to, "Hasta" %>
  <%= f.text_field :to, class: "datepicker", id: "to_date" %>
  <%= f.hidden_field :lot_id, value: @lot.id %>
  <%= f.submit %>
<% end %>

<%= select_tag('',options_for_select(Lot.columns_chart), id: 'drop') %>
<div id="charts">
<%= render partial: "shared/column_chart", locals: {val: 1, lot: @lot.variables}%>
<%= render partial: "shared/column_chart", locals: {val: 2, lot: @lot.variables}%>
<%= render partial: "shared/column_chart", locals: {val: 3, lot: @lot.variables}%>
</div>

<div class="panel panel-default variables-panel">
  <div class="panel-heading">
    Variables
  </div>
  <div class="panel-body">
    <div class="panel-group" id="accordion">
      <%= render :partial => "reports", :collection => Category.all, as: :category %>
    </div>
  </div>
</div>

<script type="text/javascript">
  $.datepicker.setDefaults({
    monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
    dayNamesMin: ['Dom', 'Lun', 'Mar', 'Mie', 'Jue', 'Vie', 'Sab'],
    maxDate: "+0d",
    dateFormat: 'yy-mm-dd'});

  $("#drop").change(function () {
    var num = $('#drop').val();
    var div_id = '#chart_div';
    for(i = 1; i <= 3; i++)
    {
      if(num == i){
        $(div_id+num).removeClass("hidden");
      }
      else if(! $(div_id+i).hasClass("hidden")){
        $(div_id+i).addClass("hidden");
      }
    }
  });

  $(document).ready(function(){
      $('#chart_div1').removeClass("hidden");
  });
</script>
