<h1 class="page-header">Lote #<%= @lot.id %></h1>

<%= return_button(project_path(@lot.project)) %>

<%= link_to project_lot_report_path(@lot.project, @lot), class: "btn btn-outline btn-success btn-lg", style: "margin-bottom: 20px" do%>
  <span class="fa fa-newspaper-o"></span>
  Reportes
<% end %>

<table class= "table">
  <thead>
    <tr>
      <th class="col-md-2">Año Siembra</th>
      <th class="col-md-2">Material</th>
      <th class="col-md-2">Hectareas</th>
      <th class="col-md-2">Proyecto</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="col-md-2"><%=@lot.sown_at%></td>
      <td class="col-md-2"><%=@lot.material%></td>
      <td class="col-md-2"><%=@lot.hectares%></td>
      <td class="col-md-2"><%=@lot.project.title%></td>
    </tr>
  </tbody>
</table>

<div class="panel panel-default variables-panel">
  <div class="panel-heading">
    <%= form_for([@lot.project, @lot], method: :post, remote: true, html: {id:'form_date'}) do |f| %>
        <%= f.label :date, "Categorias"%>
        <%= f.text_field :date, class: "datepicker", value: Date.today, id: "date", onchange: "$('#form_date').submit();" %>
    <% end %>
  </div>
  <div class="panel-body">
    <div class="panel-group" id="accordion">
      <%= render partial: "category", collection: @categories, locals: {lot_id: @lot.id, date: Date.today} %>
    </div>
  </div>
</div>

<script type="text/javascript">
  $.datepicker.setDefaults({
    monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
    dayNamesMin: ['Dom', 'Lun', 'Mar', 'Mie', 'Jue', 'Vie', 'Sab'],
    maxDate: "+0d",
    dateFormat: 'yy-mm-dd'});
</script>
