<h1 class="page-header">Lote #<%= @lot.id %></h1>

<%= link_to project_path(@lot.project), class: "btn btn-outline btn-danger btn-lg", style: "margin-bottom: 20px" do%>
  <span class="fa fa-mail-reply"></span>
  Regresar
<% end %>
<table class= "table" style= "margin-bottom: -45px">
  <thead>
    <tr>
      <th class="col-md-2">Año Siembra</th>
      <th class="col-md-2">Material</th>
      <th class="col-md-2">Hectareas</th>
      <th class="col-md-2">Project Name</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="col-md-2"><%=@lot.sown_at%></td>
      <td class="col-md-2"><%=@lot.material%></td>
      <td class="col-md-2"><%=@lot.hectares%></td>
      <td class="col-md-2"><%=@lot.project.title%></td>
    </tr>
  </tbody>
</table>

<div class="panel panel-default variables-panel">
  <div class="panel-heading">
    Categorias
  </div>
  <div class="panel-body">
    <div class="panel-group" id="accordion">
      <%= render partial: "category", collection: @categories, locals: {lot: @lot} %>
    </div>
  </div>
</div>
