<% days = lot.range_values(variable.category, variable.id) %>
<% total = sum_values_date(lot.variables, variable.category, variable.id) %>

<thead>
  <tr>
    <th>Fecha</th>
    <% (18..21).each do |f| %>
      <th><%= Lot.chart_values(f)['vAxisLabel'] %></th>
    <% end %>
  </tr>
</thead>
<tbody>
  <% days.each do |f| %>
    <tr>
      <td><%= format_date(f.assigned_at.to_datetime) %></td>
      <td><%= number_to_currency(f.amount, unit: "", precision: 3) %></td>
      <td><%= number_to_currency(f.unit_cost_insumo, unit: "Lps. ", precision: 3) %></td>
      <td><%= number_to_currency(f.cost_mano, unit: "Lps. ", precision: 3) %></td>
      <td><%= number_to_currency(f.cost_total, unit: "Lps. ", precision: 3) %></td>
    </tr>
  <% end %>
  <tr>
    <th>Total</th>
    <th><%= number_to_currency(total[:amount], unit: "", precision: 3) %></th>
    <th><%= number_to_currency(total[:unit_cost_insumo], unit: "Lps. ", precision: 3) %></th>
    <th><%= number_to_currency(total[:cost_mano], unit: "Lps. ", precision: 3) %></th>
    <th><%= number_to_currency(total[:cost_total], unit: "Lps. ", precision: 3) %></th>
  </tr>
</tbody>
