<% days = lot.range_values(variable.category, variable.id) %>
<% total = days.pluck("sum(amount), sum(valorizations.unit_cost), sum(subtotal)").first %>

<% days.each do |f| %>
  <tr>
    <td><%= format_date(f.assigned_at.to_datetime) %></td>
    <td><%= f.amount %></td>
    <td>Lps. <%= f.unit_cost %></td>
    <td>Lps. <%= f.subtotal %></td>
  </tr>
<% end %>
<tr>
  <th>Total</th>
  <th><%= total.first %></th>
  <th>Lps. <%= total.second %></th>
  <th>Lps. <%= total.third %></th>
</tr>
