<% days = lot.range_values(variable.category, variable.id) %>
<% total = days.pluck("sum(amount), sum(valorizations.unit_cost_mano), sum(cost_mano), sum(valorizations.unit_cost_insumo), sum(cost_insumo), sum(valorizations.unit_cost_total)").first %>

<% days.each do |f| %>
  <tr>
    <td><%= format_date(f.assigned_at.to_datetime) %></td>
    <!-- TODO: This line is dumb, leave for now !-->
    <td><%= number_to_currency(f.amount, :unit => "", :precision => 2) %></td>
    <td><%= number_to_currency(f.cost_mano, :unit => "Lps. ", :precision => 2) %></td>
    <td><%= number_to_currency(f.cost_insumo, :unit => "Lps. ", :precision => 2) %></td>
    <td><%= number_to_currency(f.unit_cost_mano, :unit => "Lps. ", :precision => 2) %></td>
    <td><%= number_to_currency(f.unit_cost_insumo, :unit => "Lps. ", :precision => 2) %></td>
    <td><%= number_to_currency(f.unit_cost_total, :unit => "Lps. ", :precision => 2) %></td>
  </tr>
<% end %>
<tr>
  <th>Total</th>
  <!-- TODO: This line is dumb, leave for now !-->
  <th><%= number_to_currency(total.first, :unit => "", :precision => 2) %></th>
  <th><%= number_to_currency(total.third, :unit => "Lps. ", :precision => 2) %></th>
  <th><%= number_to_currency(total.fifth, :unit => "Lps. ", :precision => 2) %></th>
  <th><%= number_to_currency(total.second, :unit => "Lps. ", :precision => 2) %></th>
  <th><%= number_to_currency(total.fourth, :unit => "Lps. ", :precision => 2) %></th>
  <th><%= number_to_currency(total[6], :unit => "Lps. ", :precision => 2) %></th>
</tr>
