<h1 class="page-header">Historial de <%= @variable.name %></h1>

<%= return_button(project_lot_path(@lot.project, @lot)) %>

<%= form_for(:history, remote: true, html: {id:'form_date', class:"row"}) do |f| %>
  <div class="col-md-4">
    <%= f.label :from, "Desde: ", class:"col-md-2"%>
    <%= f.text_field :from, class: "datepicker col-md-10", value: (Date.today - Date.today.wday + 1), id: "from_date", onchange: "$('#form_date').submit();" %>
  </div>
  <div class="col-md-4">
    <%= f.label :to, "Hasta: ", class:"col-md-2"%>
    <%= f.text_field :to, class: "datepicker col-md-10", value: Date.today, id: "to_date", onchange: "$('#form_date').submit();" %>
  </div>
  <div class="col-md-2">
    <%= f.select :graph, ["Barra", "Linea"], {include_blank: false}, {onchange: "$('#form_date').submit();", class: "form-control"} %>
  </div>
  <div class="col-md-2">
    <%= modal_button("btn-info", "fa-filter", "Gr치ficos") %>
  </div>
  <%= f.hidden_field :lot_id, value: @lot.id %>
  <%= f.hidden_field :variable_id, value: @variable.id %>
  <%= f.hidden_field :check_box, value: 0, id: "checked_boxes" %>
<% end %>
<div id="charts", class="row">
  <% var =  @lot.variables.find(@variable).valorizations.where('valorizations.assigned_at BETWEEN ? AND ?', (Date.today - Date.today.wday + 1), Date.today) %>
  <% if @variable.category.id == 1%>
    <% range = 1..7 %>
  <%elsif @variable.category.id == 2%>
    <% range = 8..17 %>
  <% else %>
    
  <% end %>
  <% for x in range %>
    <%= render partial: "shared/history_chart", locals: {val: x, variable: var, graph: "Barra"}%>
  <% end %>
</div>

<div class="table-responsive">
  <table width="100%" class="table">
    <% if @variable.category.id == 1 %>
      <%= render partial: "history", locals: {lot: @lot, variable: @variable}%>
    <%elsif @variable.category.id == 2 %>
      <%= render partial: "history_cosecha", locals: {lot: @lot, variable: @variable}%>
    <% else %>
      <%= render partial: "history_fer", locals: {lot: @lot, variable: @variable}%>
    <% end %>
  </table>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog">
  <div role="document">
  	<div class="modal-header">
  		<h3>Elecci칩n de Gr치ficos</h3>
  	</div>
  	<div class="modal-body">
      <table class= "table">
        <thead>
          <tr>
            <th class="col-md-9">Gr치fico</th>
            <th class="col-md-3">Mostrar</th>
          </tr>
        </thead>
        <tbody>
          <% for x in range %>
            <tr>
              <td class="col-md-9"> <%=Lot.chart_values(x)["vAxisLabel"] %> </td>
              <td class="col-md-3"> <%= check_box("", x, {}, x, 0) %> </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<script type="text/javascript">
  $.datepicker.setDefaults({
    monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
    dayNamesMin: ['Dom', 'Lun', 'Mar', 'Mie', 'Jue', 'Vie', 'Sab'],
    maxDate: "+0d",
    dateFormat: 'yy-mm-dd'});

  var check = [];

  $(":checkbox").change(function() {
    check = [];
    $(':checkbox:checked').each(function() {
        var tmp = $(this).val();
        check.push(parseInt(tmp));
        var div = $("#chart_div"+tmp)
        div.removeClass("hidden")
    });
    $(':checkbox:not(:checked)').each(function() {
        var div = $("#chart_div"+$(this).val())
        if(!div.hasClass("hidden")){
          div.addClass("hidden")
        }
    });
    $('#checked_boxes').val(check);
  });
</script>
