<h1 class="page-header">Historial de <%= @variable.name %></h1>

<div class="table-responsive">
    <table width="100%" class="table">
        <thead>
            <tr>
                <th>Fecha</th>
                <th>Cantidad</th>
                <th>Costo por Unidad</th>
                <th>Subtotal</th>
            </tr>
        </thead>
        <tbody>
			<% @days.each do |f| %>
	        	<tr>
				 	<td><%= f.assigned_at %></td>
				 	<td><%= f.amount %></td>
				 	<td><%= f.unit_cost %></td>
				 	<td><%= f.subtotal %></td>
				</tr> 
			<% end %>
        </tbody>
    </table>
</div>
