<h1 class="page-header">Historial de <%= @variable.name %></h1>

<%= link_to project_lot_path(@lot.project.id, @lot.id), class: "btn btn-outline btn-danger btn-lg", style: "margin-bottom: 20px" do%>
  <span class="fa fa-mail-reply"></span>
  Regresar
<% end %>

<div class="table-responsive">
    <table width="100%" class="table">
        <thead>
            <tr>
                <th>Fecha</th>
                <th>Cantidad</th>
                <th>Costo por Unidad</th>
                <th>Subtotal</th>
            </tr>
        </thead>
        <tbody>
			<% @days.each do |f| %>
	        	<tr>
				 	<td><%= f.assigned_at %></td>
				 	<td><%= f.amount %></td>
				 	<td><%= f.unit_cost %></td>
				 	<td><%= f.subtotal %></td>
				</tr> 
			<% end %>
			<tr>
				<th>Total</th>
				<th><%= @days.sum(:amount) %></th>
				<th><%= @days.sum(:unit_cost) %></th>
				<th><%= @days.sum(:subtotal) %></th>
			</tr>
        </tbody>
    </table>
</div>
