<!DOCTYPE html>
<html>
  <head>
    <title>AgriculturaDePrecision</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

	<body>
		<nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="background-color: green; border:0px">
		    <div class="navbar-header">
		    	<div style="margin-top: 5px; margin-left:5px">
		        	<%= image_tag('logo.jpeg', :size => "180x40") %>
		        </div>
		    </div>
	  	</nav>

<!-- Fixed the sidebar now you can color it-->
	    <div class="nav navbar-nav side-nav" role="navigation" style="position:fixed">
		    	<ul class="nav navbar-btn" id="side-menu">
			    	<li >
			    		<%=link_to projects_path do%>
              <p style= "color :black">
                Proyectos
              </p>
              <%end%>
			    	</li>
            <li>
              <%=link_to projects_path do%>
              <p style= "color :black">
                Lotes
              </p>
            </li>
            <%end%>
		    	</ul>
		   	</div>

		<div id="page-wrapper" style="margin-top:60px;margin-left:220px">
			<%= yield %>
		</div>
  	</body>
</html>
