<!DOCTYPE html>
<html>

  <head>
    <title>Honducaribe Agricultura de Precisión</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  </head>

	<body style="overflow:hidden">

    <div id="wrapper">

      <nav class="navbar navbar-default" style="margin-bottom:0px">
        <div class="navbar-header">
          <div style="margin-top: 5px; margin-left:5px">
            <%= link_to (image_tag 'logo.jpeg', :size => "180x40"), root_path %>
          </div>
        </div>
        <ul class="nav navbar-top-links navbar-right">
          <li>
            <span class="fa fa-user" aria-hidden="true"></span>
            Conectado como admin
          </li>
        </ul>

        <div class="navbar-default sidebar" role="navigation">
          <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">
             <!-- TODO: Fix the 'style' color issue -->
              <li>
                <%=link_to projects_path, :style=>"color:green" do%>
                  <i class="fa fa-pagelines"></i>
                  Proyectos
                <%end%>
              </li>
              <li>
                <%=link_to users_path, :style=>"color:green"  do%>
                  <i class="fa fa-user"></i>
                  Usuarios
                <%end%>
              </li>
              <li>
                <%=link_to variables_path, :style=>"color:green"  do%>
                  <i class="fa fa-list-alt"></i>
                  Variables
                <%end%>
              </li>
              <li>
                <%=link_to root_path, :style=>"color:green"  do%>
                  <i class="fa fa-sign-out"></i>
                  Cerrar sesión
                <%end%>
              </li>
            </ul>
          </div>
        </div>
      </nav>

      <div id="page-wrapper" class="pre-scrollable" style="max-height:1000px;">
        <%= yield %>
        <div class="col-md-12 not-printable" style="visibilty:hidden; min-height:150px"></div>
      </div>

    </div>

  </body>

</html>
